#footer-container {
  background: #383838;
  padding: 30px 0;

  p {
    color: #fff;
    margin: 0;
  }
}

#copyright-container {
  background: #d3001d;
  padding: 15px 0;
  text-align: center;

  span {
    color: #fff;
    font-size: 12px;
  }
}
