#testimonials-container {
  background: url('../images/testimonials-bg.jpg') no-repeat 0 0 scroll transparent;
  background-size: cover;
  padding: $section-padding;
  text-align: center;

  h2 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }

  h4,
  span,
  p {
    color: #fff;
  }

  h4 {
    margin-bottom: 0;
  }

  span {
    display: block;
    margin-bottom: 30px;
  }

  .unslider-arrow {
    display: none;
  }
}

#portfolio-page-container,
#portfolio-container {
  padding: $section-padding;

  h1 {
    text-align: center;
  }

  .portfolio-container a {
    color: #fff;
    display: block;
    position: relative;

    &:hover .portfolio-content-container {
      visibility: visible;
    }
  }

  .cell {
    position: relative;

    img {
      display: block;
    }

    .portfolio-content-container {
      background: rgba(0, 0, 0, .5);
      bottom: 0;
      display: table;
      height: 135px;
      left: -5px;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;

      .portfolio-content {
        display: table-cell;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
      }
    }

    h4 {
      color: #ffffff;
      font-size: 16px;

      a {
        color: #000;
        display: block;
      }
    }
  }
}

/* Homepage */
#video-wrapper {
  height: 550px;
}

#services-container {
  padding: $section-padding;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  #services {
    .cell {
      margin-bottom: 60px;
      text-align: center;

      .button {
        background: url('../images/svg/leftarrow.svg') no-repeat 10px 11px scroll transparent;
        border: 1px solid #000;
        color: #000;
        font-size: 19px;
        font-weight: bold;
        padding: 10px 25px;

        &:hover {
          background-color: #a1a1a1;
        }
      }

      p {
        color: #000;
        min-height: 150px;
      }
    }
  }
}

#who-we-are-container {
  background: url('../images/aboutus.jpg') no-repeat top scroll #f4f4f4;
  background-size: cover;
  padding: 220px 0;
  position: relative;
  text-align: center;

  &:after {
    background: rgba(231, 231, 230, .5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 60px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }

  .divider {
    margin-bottom: 60px;
  }

  .grid-container {
    position: relative;
    z-index: 99;
  }
}

#portfolio-container {
  padding: $section-padding;

  h2 {
    text-align: center;
  }

  .portfolio-filter a {
    display: inline;
  }
}

#latest-articles-container {
  background: url('../images/latestbg.png') no-repeat 0 0 scroll transparent;
  background-size: cover;
  padding: $section-padding;
  position: relative;

  &:after {
    background: rgba(0, 0, 0, .5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .grid-container {
    position: relative;
    z-index: 99;
  }

  h2 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }

  .article {
    background: #fff;

    img {
      margin: 0;
    }

    .article-content {
      min-height: 180px;
      padding: 15px;

      p {
        color: #000;
      }
    }
  }
}

#customers-container {
  padding: $section-padding;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

#contact-container {
  padding: $section-padding;
}

/* Single Page */
#single-page-container {
  #single-page-content-container {
    padding: $section-padding;
  }
}

/* What we do */
.page-what-we-do {
  #post-title-container {
    background: url('../images/skyline.jpg') no-repeat center scroll transparent;
  }
}

/* About Page */
.page-what-we-are {
  #post-title-container {
    background: url('../images/aboutus.jpg') no-repeat 0 0 scroll transparent;
    background-position: center;
  }

  #services-container h2 {
    color: #000000;
  }
}

#about-page-container {
  padding: $section-padding;
  padding-bottom: 0;
  text-align: center;

  .grid-container {
    border-bottom: 1px solid #000;
    padding-bottom: 60px;
  }

  h2, h3, h4 {
    color: #000000;
    font-weight: 300;
    font-size: 1.9375rem;

    strong {
      font-weight: 300;
    }
  }
}

.page-portal {
  #post-title-container {
    background: url('../images/hongkong.jpg') no-repeat 0 0 scroll transparent;
    background-position: center;
  }

  .sidebar {
    margin-bottom: 30px;
  }

  ::placeholder {
    color: white !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
  }

  .wpcf7-form label.error {
    display: none;
  }
}

#portal-page-container {
  padding: $section-padding;

  #upper-part-container {
    padding-bottom: 30px;
  }

  #top-stories-container {
    margin-bottom: 60px;

    .top-story {
      padding: 3px;
      position: relative;

      a {
        display: block;
        position: relative;

        img {
          margin: 0;
        }

        h4 {
          background: #C22033;
          bottom: 0;
          color: #ffffff;
          font-size: 18px;
          margin: 0;
          padding: 10px;
          position: absolute;
          width: 100%;
        }
      }
    }
  }

  .owl-theme .owl-nav {
    text-align: right;

    button {
      border: 1px solid #e1e1e1;
      height: 25px;
      width: 25px;

      &:focus {
        outline: none;
      }
    }
  }

  #introduction {
    padding: 0 0 60px;
    text-align: center;
  }

  #social-media-container {
    span {
      background-color: #bc1d29 !important;
    }
  }

  #newsletter-container {
    background: #C9223A;
    background-size: cover;
    padding: 30px;
    position: relative;

    img {
      bottom: 0;
      position: absolute;
      left: 0;
    }

    form {
      position: relative;
      z-index: 999;
    }

    h3 {
      font-size: 24px;
      color: #ffffff;
    }

    input[type='text'],
    input[type='email'] {
      background: none;
      border: 1px solid #fff;
    }

    input[type='submit'] {
      background: #ffffff;
      color: #000000;
      padding: 20px;
    }

    .ajax-loader {
      display: none;
    }

    form.wpcf7-form p {
      margin: 0;
    }
  }

  .article-section {
    margin-bottom: 30px;
    padding-bottom: 30px;

    .title-container {
      border-bottom: 1px solid #C22033;
      margin-bottom: 15px;

      h4 {
        background: #C22033;
        color: #ffffff;
        display: inline-block;
        font-size: 18px;
        margin: 0;
        padding: 10px 12px;
      }
    }

    h4 {
      font-size: 18px;
    }

    iframe {
      width: 100% !important;
    }

    .button {
      background: none;
      border: 1px solid #000;
      color: #000;
      padding: 10px 25px;

      &:hover {
        background: #a1a1a1;
      }
    }
  }

  div.cell.large-12:last-child .article-section {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.portfolio-filter {
  padding: 15px 0;
}

.portfolio-filter a {
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}

.portfolio-filter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}

img {
  margin: 5px;
  max-width: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
  -moz-transition-property: right, top, -moz-transform, opacity;
  -ms-transition-property: right, top, -ms-transform, opacity;
  -o-transition-property: right, top, -o-transform, opacity;
  transition-property: right, top, transform, opacity;
}

#contact-us-page-container {
  padding: $section-padding;

  .acf-map {
    height: 540px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  #contact-details {
    margin-bottom: 30px;

    span {
      color: #C9223A;
      font-weight: bold;
    }
  }
}

.page-portfolio {
  #post-title-container {
    background: url('../images/hongkong.jpg') no-repeat center scroll transparent;
  }
}


.single {
  h1 {
    font-size: calc(20px + 1.043vw);
  }

  p, li, a {
    font-size: 21px;
  }
}

#event-page-container {
  padding: $section-padding;
}
